---
import Layout from "../layouts/Layout.astro";
import articles from "../data/wp_articles2.json";
import WpCard from "../components/WpCard.astro";
---

<Layout title="Dominic Cummings Reader ~ Original Blog">
  <div class="content">
    <h2>Original blog</h2>
    <h4>
      A summary of articles from the original WP blog. Active from April 2014 to
      June 2021. Link <a href="dominiccummings.com">here</a>
    </h4>
    <div>
      {
        articles.map((article) => (
          <WpCard
            title={article.title}
            url={article.url}
            date={article.date}
            tags={article.tags}
            links={article.links}
          />
        ))
      }
    </div>
  </div>
</Layout>
<style>
  .content {
    overflow: hidden;
    /* max-width: 800px; */
  }
</style>
